<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Where is</title>
</head>
<body>
<a href="{% url 'whereis:index' %}">Index</a>
{% if user_name %}
<h1>{{ user_name }}'s locations</h1>
{% else %}
<h1>Locations</h1>
{% endif %}

{% if location_list %}
<ul>
  {% for location in location_list %}
  <li>{{ location.location_name }}({{ location.lat_lon }}) : {{ location.created }} </li>
  {% endfor %}
</ul>
{% else %}
<p>No Locations in database</p>
{% endif %}
<h1>Total distance traveled</h1>
<p>{{ total_distance }} km</p>
</body>
</html>